# OS files
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
*.swp
*.swo

# Project specific
backend/venv/
backend/.env
frontend/node_modules/
frontend/.next/
frontend/.env*
!frontend/.env.example

# Common Python (for root level scripts)
__pycache__/
*.py[cod]
venv/

# Mosquitto
mosquitto/config/passwd
mosquitto/data/
mosquitto/log/

# Local logs
*.log
*.csv