# Auth
passlib[bcrypt]
argon2-cffi
python-jose[cryptography]
python-multipart

# Web Framework
fastapi
uvicorn[standard]
websockets

# MQTT (Async)
aiomqtt
orjson

# Database
sqlalchemy
psycopg2-binary

# Data Processing
numpy
pandas
scipy

# ML & Signal Processing
scikit-learn
joblib
tensorflow
neurokit2
PyWavelets

# Optional: If you need additional features
python-multipart
jinja2
python-dotenv
matplotlib
pydantic
pydantic_settings
email-validator