{% extends "base.html" %}

{% block sidebar %}
{% include "layout/sidebar.html" %}
{% endblock %}

{% block header %}
{% include "layout/header.html" %}
{% endblock %}

{% block content %}
{% include "modules/monitor/index.html" %}

{% include "modules/history/index.html" %}

{% include "modules/performance/index.html" %}
{% endblock %}

{% block modal %}
{% include "shared/patient_modal.html" %}

<script type="module">
    import { AuthController } from "{{ url_for('static', path='/js/modules/auth/AuthController.js') }}";
    // Initialize Auth Controller to run checks (Guard)
    new AuthController();
</script>
{% endblock %}